{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('./assets/css/dashbord.css') }}">
	<div class="user">
	<h1>Modifier le profil</h1></div>
	
	{{ include('user_crud/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

<div class="button">
	<a href="{{ path('profil.employe', {'id': user.id}) }}">Retour au profil</a>
</div>
	{# {{ include('user_crud/_delete_form.html.twig') }} #}
{% endblock %}
