{% extends 'base.html.twig' %}

{% block title %}A propos Weeeetruck
{% endblock %}

{% block body %}
	<section class="about">
		<div class="hero-about">
			<div class="presentation">
				<h2>Qui sommes-nous ?</h2>

				<p>
					Nous sommes une filiale d’un groupe de loueurs de véhicules en courte, moyenne et longue durée, 
					nous avons développé une offre de transport et de convoyages, qui au départ étaient à l’usage de nos activités de
					location et désormais nous avons ouvert nos activités en externe.
				</p>

				<p>
					Notre entreprise a été fondée par des passionnés de l'industrie automobile qui ont combiné leur amour des voitures 
					avec leur expertise en logistique et en transport. Nous comprenons l'attachement émotionnel et la valeur économique 
					que représente chaque véhicule, qu'il s'agisse d'une voiture de collection, d'un véhicule de luxe, d'un véhicule neuf ou 
					d'un véhicule d'occasion. C'est pourquoi nous mettons tout en œuvre pour offrir un service de convoyage sûr, sécurisé et fiable.
				</p>
			</div>

			<div class="img-presentation">
				<img src="{{ asset("./assets/img/porte-voiture.jpg") }}" alt="Camion porte voiture">
			</div>
		</div>

		<div class="ourAdvantages">
			<h2>Pourquoi nous choisir ?</h2>

			<p>
				Choisir Weeetruck pour le convoyage de votre voiture, c'est opter pour une entreprise de confiance qui mettra 
				tout en œuvre pour assurer la sécurité et la satisfaction de ses clients.
			</p>
		</div>

		<div class="companyValues">
			<div class="text-value">
				<h2>Nos Valeurs</h2>
			
				<p>
					Notre plongeons dans la dématérialisation pour rester efficace et documenté avec le plus de précision possible, nos projets de
					développements améliorent au gré tous nos outils de dématérialisation.
				</p>

				<p>
					Notre engagement qualité est le pilier central de notre organisation et c’est en permanence 
					et sur tous les sujets que nous gérons ce volet qui est essentiel à nos yeux depuis la relation avec nos interlocuteurs à la
					gestion opérationnelle.
				</p>

				<p>
					Notre réactivité fait de nous la différence avec de nombreux
					concurrents, nous pouvons répondre en dernière minute à des ordres de
					missions.
				</p>

				<p>
					Notre déploiement en région s’appuie sur nos agences locales.
				</p>

				<p>
					Notre flotte est essentiellement constituée de véhicules récents.
				</p>

				<p>
					Le cas échéant la maîtrise de nos sous-traitants avec un contrôle systématique et régulier.
				</p>
			</div>
			
			<div class="img-value">
				<img src="{{ asset("./assets/img/companyValues.webp") }}" alt="Représentation de nos valeurs">
			</div>
		</div>

		<div class="otherAssets">
			<div class="security-asset">
				<h3>Nos Chauffeurs</h3>
				
				<p>
					Nos chauffeurs sont des professionnels qualifiés et expérimentés dans le transport de voitures. 
					Ils sont formés pour manipuler différents types de véhicules, en tenant compte de leurs particularités 
					et de leurs exigences spécifiques. Nous disposons d'une flotte de camions spécialisés, 
					équipés de systèmes de chargement et de déchargement sécurisés, pour assurer la protection optimale 
					de votre véhicule pendant le transport.
				</p>
			</div>

			<div class="environment-asset">
				<h3>Notre impact écologique</h3>
				
				<p>
					En tant qu'entreprise soucieuse de l'environnement, nous nous engageons à minimiser notre empreinte carbone. 
					Nous optimisons nos itinéraires pour réduire les kilomètres parcourus, nous utilisons des technologies de pointe 
					pour améliorer l'efficacité énergétique de nos camions, et nous veillons à la gestion responsable de nos opérations 
					pour réduire notre impact sur l'environnement.
				</p>
			</div>

			<div class="satisfaction-asset">
				<h3>La satisfaction de nos clients</h3>

				<p>
					La satisfaction de nos clients est notre priorité absolue. Nous nous efforçons de fournir un service personnalisé 
					et attentif, en tenant compte de vos besoins spécifiques. Nous comprenons que chaque véhicule est unique, 
					et nous nous assurons d'adapter notre approche en conséquence. Notre équipe est disponible pour répondre 
					à vos questions, vous tenir informé de l'avancement du transport et vous offrir un suivi complet tout au long du processus.
				</p>
			</div>
		</div>

		<div class="conclusion">
			<p>Contactez-nous dès aujourd'hui pour discuter de vos besoins de transport de voitures et découvrez comment nous pouvons vous aider à acheminer votre véhicule en toute tranquillité.</p>
		</div>
	</section>
				{% endblock %}
			
