{% extends 'base.html.twig' %}

{% block title %}Nos Activités
{% endblock %}

{% block body %}
	
	<link rel="stylesheet" href="{{ asset('./assets/css/nosActivites.css') }}">
	<section class="nosActivite">
		<h2>Nos missions et nos activités</h2>
		<p>
			Le transport de véhicules en porte voiture et le convoyage sont nos 2
																		    activités principales. Le convoyage de véhicules d’un point à un autre
																		    avec en option la gestion documentaire comme les ventes ou achat de
																		    véhicules, y compris les ordres de dernières minutes. Le transport sur
																		    des portes 8/9 ou ½ selon vos besoins, avec ou sans engagement de
																		    volumes, y compris les ordres de dernières minutes.
		</p>
		<div id="btn">
			<button class="btn btn-danger">Nos Clients</button>
		</div>
		<div id="paragraphe">
			<div>
				<p>
					<b>Nos clients sont avant tout des professionnels de l’automobile</b>
				</p>
				<ul>
					<li>Constructeurs majeurs</li>
					<li>Concessions et Agents</li>
					<li>Négociants automobiles</li>
					<li>Plateformes d’achats et de revente de véhicules</li>
					<li>Assistances</li>
					<li>Garagistes</li>
				</ul>
			</div>
			<div>
				<p>
					<b>Devenir clients à la demande du formulaire</b>
				</p>
				<ul>
					<li>
						<a href="">TPE/PME</a>
					</li>
					<li>
						<a href="">Grands comptes</a>
					</li>
					<li></li>
				</div>
			</div>
		{% endblock %}
